/* div{
    border: 2px solid red;
    margin: 30px;
    padding:20px;


}
p.error{
    color: red;
}
p.success{
    
    color:rgb(92, 178, 92);
}
p.success.feedback{

    border:2px dashed green;


}

div p a{
    text-decoration: none;
    color: purple;
}
div p a:hover{
    color: brown;
} 
 */


/* lets learn attribute selectors */

a[href*="thenetninja"]{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 40px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

a[href$=".com"]{
    text-decoration: none;
    display: block;
    width: 300px;
    height:300px;
    padding: 20px;
    margin: 20px auto;
    background-color: brown;
    border: 2px solid blue;
    color: aquamarine;


}
